<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting label="Account" type="lsep"/>
        <setting id="logout" type="action" label="Logout" action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/logout/)" option="close"/>
    </category>
    <category label="Advance">
        <setting label="Log" type="lsep"/>
        <setting label="Upload log" type="action" id="logupload" action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/logupload/)" option="close"/>
        <setting label="Upload Crash log" type="action" id="loguploadcrash" action="RunPlugin(plugin://plugin.video.jiotv/resources/lib/main/logupload/?_pickle_=80027d710055056372617368710188732e)" option="close"/>
    </category>
</settings>

